*,
*::before,
*::after {
  font-family: 'Poppins', sans-serif;
}

.container {
  @apply mx-auto;
}

.ql-container {
  // @apply text-3xl;
  font-size: 16px !important;
}

.bgImg {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.react-calendar__tile--active {
  background: #006edc !important;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}